.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.caixa{
    margin-top: 20px;
    background-color: #FFFFFE;
    box-shadow: 0px 1px 42px rgba(151, 116, 208, 0.25);
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
    width: 600px;
}

input {
    border: 3px solid #090E21 !important;
    text-indent: 5px;
}

label{
    margin-left: 10px !important;
}
